<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/js1/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/images/favicon.png"/>
</head>
<body>
<nav th:fragment="header" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="/main">
            <img src="/images/logo.png" class="mr-2" alt="logo"/>
            <span class="logo_text">Админ</span>
        </a>
        <a class="navbar-brand brand-logo-mini" href="/main"><img src="/images/logo.png"
                                                                  alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator" id="notificationDropdown" href="/notifications">
                    <i class="icon-bell mx-0"></i>
                    <span class="count" hidden id="notificationHaving"></span>
                </a>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="/images/author.jpg" alt="profile"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                     aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="/profile">
                        <i class="mdi mdi-account-outline text-primary"></i>
                        Профиль
                    </a>
                    <a class="dropdown-item" href="/logout">
                        <i class="mdi mdi-power-off text-primary"></i>
                        Выйти
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>
<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/news">
                <i class="mdi mdi-chart-bubble menu-icon"></i>
                <span class="menu-title">Жаңылыктар
                            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/links">
                <i class="mdi mdi-book-multiple menu-icon"></i>
                <span class="menu-title">Пайдалуу ссылкалар
                            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">
                <i class="mdi mdi-star menu-icon"></i>
                <span class="menu-title">Бүтүрүүчүлөр
                            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/teachers">
                <i class="mdi mdi-account-card-details menu-icon"></i>
                <span class="menu-title">Мугалимдер
                            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/students">
                <i class="mdi mdi-face menu-icon"></i>
                <span class="menu-title">Студенттер
                            </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/temp-users">
                <i class="mdi mdi-puzzle menu-icon"></i>
                <span class="menu-title">Сурамжылоолор
                            </span>
            </a>
        </li>
    </ul>
</nav>

<footer class="footer" th:fragment="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.
                            Кыргыз-Түрк "Манас" Университети. Бардык укуктар корголгон</span>
    </div>
</footer>
</body>
</html>

